.hei{
    height: 95px;
}
.fon{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 30px;
}
.skin{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 15px;
}
.bu{
    margin-left: 50px;
}
 .pic{
    height: 200px;
 }
 .ptc{
    height: 200px;
 }













